<div class="row">
  <mat-card class="exercise-video-card">
    <mat-card-header>
      <mat-card-title>Shoulder Exercise</mat-card-title>
    </mat-card-header>
    <img src="../../assets/Shoulder_start_good.jpg">
    <mat-card-content>
      <p>
        En position debout, le coude collé au corps fléchi à 90° et élastique dans la main. L'élastique doit être tendu dès la position de départ.
        Effectuez une rotation externe (éloignez la main vers l'extérieur en gardant le coude au corps) puis revenez à la position de départ.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="exercise-record-card">
    <mat-card-header>
      <mat-card-title>Take Image</mat-card-title>
    </mat-card-header>
    <video #videoElement></video>
    <canvas #canvas id="canvas" width="640" height="480"></canvas>
    <div [style.font-size.px]="setFont()">{{ countDown }}</div>
    <mat-card-actions>
        <button class="mg-2" (click)="takePicture()" mat-raised-button>Take Picture</button>
    </mat-card-actions>
  </mat-card>
</div>