<div class="row">
  <mat-card class="exercise-video-card">
    <mat-card-header>
      <mat-card-title>Exercise 1 Picture</mat-card-title>
    </mat-card-header>
    {{picture}}
    <img src="">
    <mat-card-content>
      <p>
        Description of the exercise...
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="exercise-record-card">
    <mat-card-header>
      <mat-card-title>Take Image</mat-card-title>
    </mat-card-header>
    <video #videoElement></video>
    <canvas #canvas id="canvas" width="640" height="480"></canvas>
    <div [style.font-size.px]="setFont()">{{ countDown }}</div>
    <mat-card-actions>
        <button class="mg-2" (click)="takePicture()" mat-raised-button>Take Picture</button>
    </mat-card-actions>
  </mat-card>
</div>
<div>
    <app-exercise-table></app-exercise-table>
</div>