<div class="row">
  <mat-card class="exercise-video-card">
    <mat-card-header>
      <mat-card-title>Exercise 1</mat-card-title>
    </mat-card-header>
    <video src=""></video>
    <mat-card-actions>
        <button mat-button>Start</button>
        <button mat-button>Pause</button>
      </mat-card-actions>
    <mat-card-content>
      <p>
        Description of the exercise...
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="exercise-record-card">
    <mat-card-header>
      <mat-card-title>You</mat-card-title>
    </mat-card-header>
    <app-capture-camera></app-capture-camera>
  </mat-card>
</div>