.row {
    display: flex;
}

.exercise-video-card {
    max-width: 500px;
    margin: 2px;
    top: 10px;
}

.exercise-record-card {
    margin: 2px;
    top: 10px;
}

#video {
    background-color: #000000;
}
#canvas {
    display: none;
}

img {
    max-width: 300px;
    transform: rotateY(180deg);
}