<div class="row">
  <mat-card class="exercise-video-card">
    <mat-card-header>
      <mat-card-title>Exercise 1 Video</mat-card-title>
    </mat-card-header>
    <video src=""></video>
    <mat-card-content>
      <p>
        Description of the exercise...
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="exercise-record-card">
    <mat-card-header>
      <mat-card-title>Do Exercise</mat-card-title>
    </mat-card-header>
    <app-capture-camera></app-capture-camera>
  </mat-card>
</div>