<button class="mg-6" mat-raised-button color="primary" (click)="goToElectrodes()">Attach Electrodes</button>
<div>
  <mat-card *ngFor="let p of pose" class="exercise-card">
    <mat-card-header>
      <mat-card-title>
        {{p}}
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Teaser of exercise 1">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="goToPictureExercise(1)">Picture Exercise</button>
      <button mat-raised-button color="primary" (click)="goToVideoExercise(1)">Video Exercise</button>
    </mat-card-actions>
  </mat-card>
</div>