.flexContainer {
    display: flex;
    flex-direction: row;
}

.extra-margin {
    margin: 9px;
}

.push-right {
    margin-left: 70px;
}

.push-righter {
    margin-left: 80px;
    padding-right: 90px;
}

img {
    max-width: 140px;
    padding: 20px;
}

mat-card {
    max-height: 250px;
}

.longer-card {
    padding-bottom: 40px;
}